.swiper-slide-custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-custom img {
  width: 100%;
  height: auto; /* Ensure the image maintains its aspect ratio */
  object-fit: cover; /* Cover the container properly */
}

