/* .swiper-slide {
  text-align: center;
  font-size: 18px; */
  /* Center slide text vertically */
 
/* }

.swiper-slide img {
 
  border-radius: 10px;
}



.swiper .swiper-button-next{
  background-color: none; 
  color: black !important; 
  width: 40px !important; 
  height: 40px !important; 
  border-radius: 40px;
  border: 3px solid gray;

}

.swiper .swiper-button-prev{
  background-color: none; 
  border: 3px solid gray;

  color: black !important; 
  width: 40px !important; 
  height: 40px !important; 
  border-radius: 40px;
  position:'absolute';
}


.swatchSwiper {
 
  --swiper-navigation-size: '15px',
  
}





 */
